<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heshen.mapper.ReceptionMapper">

    <insert id="setReception"  parameterType="com.heshen.entity.Reception">
        insert into reception(name,phone,certificates,id,room,deposit,timeIn,timeOut,memo)
        value (#{name},#{phone},#{certificates},#{id},#{room},#{deposit},#{timeIn},#{timeOut},#{memo})
    </insert>
    <select id="getReception" resultType="com.heshen.entity.Reception">
        select uuid,name,phone,id,room,deposit,memo,timeIn,timeOut from reception ORDER by uuid desc
    </select>
    <update id="stateChange" parameterType="com.heshen.entity.Reception">
        update reception set memo=#{memo},entry=#{name} where uuid=#{uuid}
    </update>
    
    <select id="orderChart" resultType="com.heshen.entity.OrderChat">
        SELECT
            DATE_FORMAT(timeIn,'%Y-%m-%d') AS TIME,
        COUNT(*) AS COUNT,
        SUM(entry) AS totalPrice
        FROM reception
        WHERE timeIn>='2022-04-01'
        GROUP BY TIME ORDER BY TIME;
    </select>
</mapper>