<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.heshen.mapper.RoomMapper">

    <select id="getRoom" parameterType="com.heshen.entity.Room" resultType="Room">
        select * from room
        <where>
            <if test="number!=null and number!=''">
                and number=#{number}
            </if>
            <if test="state!=null and state!=''">
                and state=#{state}
            </if>
        </where>
    </select>
    <select id="getRoomType" parameterType="com.heshen.entity.Room" resultType="com.heshen.entity.RoomType">
    SELECT DISTINCT TYPE,AREA,people,COUNT(TYPE) num,price,memo FROM room GROUP BY TYPE
</select>
    <insert id="setRoom" parameterType="com.heshen.entity.Room">
        insert into room(number,area,type,people,state,price,memo)
        value (#{number},#{area},#{type},#{people},#{state},#{price},#{memo})
    </insert>

    <update id="updateRoom" parameterType="com.heshen.entity.Room">
        update room set number=#{number},area=#{area},type=#{type},people=#{people},state=#{state},price=#{price},memo=#{memo}
        where uuid=#{uuid}
    </update>
    <delete id="deleteRoom" parameterType="java.lang.String">
        DELETE FROM room WHERE uuid = #{uuid}
    </delete>
</mapper>